<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- online
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    -->
    <title>Mukti❤️Norhasanah Wedding</title>
  </head>
  
  <body style="text-align: center;">
  
    <!--Jumbotron-->
    <div class="jumbotron">
      <div class="cover-container">
        <br><br><br>
        <h3 style="font-family: 'josefin'; font-size: 25px;">The Weding of</h3>
        <h1 class="title">Mukti & Norhasanah</h1>
        <h2 style="color : #FFC700">26th May 2021 </h2>
        <br><br><br><br><br>
        <hr class="my-5">
        <p>Info lebih lanjut</p>
  
        <div class="scroll-button">
          <a href="#about-us" class="page-scroll">
            <img src="img/arrows-down.png" alt="arrow down" />
          </a>
        </div>
      </div>
    </div>
    <!--Jumbotron-->
    <div class="container">
      <h2>Assalamualaikum Wr. Wb.</h2>
      <div id="countdown">
        <ul>
          <li><span id="days"></span>Hari</li>
          <li><span id="hours"></span>Jam</li>
          <li><span id="minutes"></span>Menit</li>
          <li><span id="seconds"></span>Detik</li>
        </ul>
      </div>
    </div>
  
    <!--waktu-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p>Dengan memohon Rahmat dan Ridho Illahi, teriring niat menjalankan Sunnah Rasulullah ﷺ untuk
            membentuk rumah tangga yang Sakinah, Mawaddah wa Rahmah, kami mohon do'a agar senantiasa diberikan kelancaran
            dan keberkahan.</p>
        </div>
      </div>
      <br><br>
      <div class="align-self-center">
        <div class="row">
  
  
          <div class="col-md-3 offset-md-2">
            <h4>Norhasanah</h4>
            <p>Putri dari Bapak Nanang Hanafiah dan Ibu Samsiah (alm)</p>
          </div>
          <div class="col-md-1">
            <img class="bd-placeholder-img rounded-circle" width="100" height="100" src="img/nor.jpg">
          </div>
  
          <div class="col-md-1">
            <img class="bd-placeholder-img rounded-circle" width="100" height="100" src="img/mukti.JPG">
          </div>
  
          <div class="col-md-3">
            <h4>Mukti Areif, S.T</h4>
            <p>Putra dari Bapak Sabri dan Ibu Rusminah</p>
          </div>
        </div>
      </div>
    </div>
  
    <br>
  
  
    <div class="fluid-container" style="background: #4E937E;">
      <br>
      <h5>﷽ </h5>
      <h2>Akad Nikah dan Walimatul 'Ursy</h2>
      <br>
      <p>InsyaaAllah akan dilaksanakan pada :</p>
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <div class="card" style="background: #4E937E;">
            <h4 class="card-header" style="color: white; font-family: 'josefin'; ">Waktu dan Tempat</h4>
            <div class="card-body">
  
              <p class="card-text">
                <u>AKAD</u><br>09.00 WIB<br><br><u>RESEPSI</u><br> 10.00 - 17.00 WIB<br><br>Rabu, 26 Mei 2021<br>Belakang Ciptaland </p>
  
            </div>
          </div>
  
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-light">Lokasi Acara</button>
      <button type="button" class="btn btn-light">Live Instagram</button>
      <br><br>
    </div>
  
    <!--moment-->
    <br>
    <div class="container">
      <h2>Photo Gallery</h2>
      <br>
      <h2>Video Pre Wedding</h2>
      <br>
    </div>
  
    <!--amplop-->
    <div class="fluid-container" style="background: #4E937E;">
      <br>
      <h2>Amplop Online</h2>
      <br>
  
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>Bagi para undangan yang ingin memberikan amplop secara digital dapat menggunakan motode yang ada di bawah ini
          </p>
  
        </div>
      </div>
  
      <br><br>
    </div>
  
    <!--dari sahabat-->
    <br>
    <div class="container">
      <h2>Dari Sahabat</h2>
      <br>
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <br><br>
      <h3>Arini Trijayanti</h3>
      <h5>Rekan kerja di DKC</h5>
      <p>“Jika kita tidak bisa melakukan hal kecil tanpa cinta, maka jangan berharap terjadi hal besar. Mencintai
        seseorang memberikan kita kekuatan, dicintai memberikan kita keberanian.”</p>
      <br>
    </div>
    <br>
    <!--terimakasih-->
  
    <div class="container-fluid" style="background-color: #ebebeb; ">
      <br>
      <h2 style="color : #456D62;    font-family:'Pacifico';    font-size: 55px;">Terimakasih</h2>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p>Berdasarkan kondisi saat ini, tanpa mengurangi rasa hormat, diharapkan tetap
            bisa menjalin silaturahmi melalui media online, bukan dengan kontak fisik secara langsung.
            Mohon pengertiannya.
          </p>
          <p;">Atas segala do'a dan restu saudara/i,<br>
            kami ucapkan terima kasih.<br>
            Wassalamualaikum warahmatullahi wabarakatuh.</p>
        </div>
        <br>
      </div>
    </div>
  
  
    <!-- FOOTER -->
    <footer class="container" style="font-family: 'josefin'; color :#686868;">
      <br>
      <p>&copy; Mukti & Norhasanah Wedding All Right Reserved 2021<br>
        Build by <a href="https://www.instagram.com/maspanji_">Panji Ramadhan</a> & <a
          href="https://www.instagram.com/bagastri_07">Bagas Tri Wibowo</a>
        <br>Icons by Freepic & Flaticon<br>
        Song by Da-ice - Dreamin On
      </p>
  
    </footer>
    <br>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- online
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/animation.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>