.jumbotron{
    background-image: url("/img/jumbotron.JPG");
    background-color: white;
    background-size: cover;
    height: 700px;
    text-align : center;
}

.jumbotron h3{
    margin-top: 50px;
    color: white;
    font-size: 15px;
}
.jumbotron .title{
    color: white;
    font-family: birdlove;
    font-size: 80px;
}

.jumbotron p{
    font-size: large;
    color: white;
}

/* countdown */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    color: whitesmoke;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  #content {
    display: none;
    padding: 1rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
      
    }
    
    li {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    li span {
      font-size: 3.375rem;
    }
  }


  
  /*
   * Header
   */
  .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #000;
    border-bottom-color: #000;
  }
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }
  
  
  /*
   * Cover
   */
  .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
  
  
  /*
   * Footer
   */
  .mastfoot {
    color: rgba(255, 255, 255, .5);
  }
  