@font-face{
  font-family: 'Pacifico';
  src: url(/font/Pacifico-Regular.ttf);

}
@font-face {
  font-family: 'josefin';
  src: url(/font/JosefinSans-Regular.ttf);;
}

.display4{
  margin-top: 180px;
}

.footer p{
  font-family: 'josefin';
}

.container-fluid{
  color :#686868;
  font-family: 'josefin';
}
.row p{
  font-family: 'josefin';
}
.row h4{
  color : #4E937E;
  font-family:'Pacifico';
}
.container h2{
  color : #456D62;
  font-family:'Pacifico';
  font-size: 55px;
}

.fluid-container h2{
  color :white;
  font-family:'Pacifico';
  font-size: 30px;
}
.fluid-container h5{
  color :white;
  font-family:'Pacifico';
  font-size: 16px;
}

.fluid-container p{
  color :white;
  font-family: 'josefin';
}
.fluid-container button{
  font-family: 'josefin';
}
.jumbotron{
    background-image: url("/img/jumbotron.png");
    
    background-size: cover;
    height: 640px;
    text-align : center;
}

.jumbotron h3{
    margin-top: 50px;
    color: white;
    font-size: 15px;
}
.jumbotron .title{
    color: white;
    font-family:'Pacifico';
    font-size: px;
   
}

.jumbotron p{
    font-size: large;
    color: white;
}

/* countdown */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  li {
    display: inline-block;
    font-family: 'josefin';
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    color: black;
    
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  #content {
    display: none;
    padding: 1rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
      
    }
    
    li {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    li span {
      font-size: 3.375rem;
    }
  }


  
  
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }
  
  
  /*
   * Cover
   */
  .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
  
  
  /*
   * Footer
   */
  .mastfoot {
    color: rgba(255, 255, 255, .5);
  }
  